* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font-weight: '1000';
}

a {
  text-decoration: none;
  color: var(--text);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--closer);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--closest);
}

ol li::marker {
  margin: 0;
}

section h1 {
  padding-bottom: 32px;
}

section h2,
section h3,
section h4 {
  margin-top: 96px;
  margin-bottom: 16px;
}

section h1,
section h2,
section h3,
section h4 {
  display: flex;
  align-items: center;
  gap: 8px;
}

section h1 a,
section h2 a,
section h3 a {
  margin: 0;
}

section h1 {
  font-size: 26px;
}

section a {
  display: block;
  /*  color: #323232; */
  color: var(--text);
  margin-bottom: 32px;
}

section .link {
  display: flex;
  column-gap: 8px;
  color: var(--text);
}

section p,
section ul,
section code {
  color: var(--subtext);
  line-height: 32px;
  font-size: 16px;
}

section p {
  padding-block: 16px;
}

section code:not(.language-ts):not(.language-typescript):not(.language-json):not(.language-bash):not(.language-js):not(.language-javascript) {
  padding: 2px 6px;
  background-color: var(--closest);
  border-radius: 4px;
}

strong {
  color: var(--text);
}

.warning {
  width: 100%;
  padding: 16px;
  background-color: var(--closer);
  color: #a6ff00;
  margin-bottom: 36px;
  border-radius: 4px;
  user-select: none;
}

.warning-2 {
  color: var(--subtext);
}

@media (width < 1100px) {
  .warning {
    white-space: normal;
  }
}

.inline-block {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

code {
  display: inline-block;
  padding-right: 16px;
}

pre::-webkit-scrollbar {
  height: 8px;
  width: 10px;
}

/* Track */
pre::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 8px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background-color: var(--closer);
}

*::selection {
  background-color: white;
  color: black;
}

.icon.icon-link::before {
  content: '#';
  color: var(--subtext);
  font-size: 16px;
}

.icon.icon-link:hover {
  color: var(--text);
  text-decoration: underline;
}

.title {
  display: block;
  margin-bottom: 8px;
}

.toc {
  margin-bottom: 64px;
}

.toc-link {
  margin: 8px 0;
}

.toc-level {
  list-style-type: none;
  padding-left: 32px;
}

.toc-level-1 {
  padding: 0;
}

.toc-link:hover {
  text-decoration: underline;
}

blockquote {
  font-family: monospace;
  white-space: pre-wrap; 
  border-left: 5px solid #ccc; 
  padding-left: 10px; 
  margin-top: 32px;
  margin-bottom: 32px;
}

blockquote p {
  color: #a6ff00;
}