* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; 
}

ol li::marker {
	font-family: Helvetica;
}

section h1 {
    padding-bottom: 36px;
}

section h2,
section h3,
section h4 {
    margin-top: 80px;
    margin-bottom: 16px;
}

section h1 {
    font-size: 26px;
}

section a {
    display: block;
   /*  color: #323232; */
    color: rgb(299, 299, 299);
    margin-bottom: 16px;
}

section .link {
    display: flex;
    column-gap: 8px;
    color: #53535a;
}

section p,
section ul, section code {
    color: #cacaca;
    line-height: 1.65;
    font-size: 16px;
}

section code:not(.language-ts):not(.language-typescript) {
    padding: 2px 4px;
    background-color: #323232;
    border-radius: 4px;
}

strong {
    color: white;
}
